<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yorhp.recordlibrary">



    <application>
        <activity android:name=".ScreenRecordActivity"
            android:theme="@style/tyhjtranslucentTheme"></activity>
    </application>

</manifest>